github "CocoaLumberjack/CocoaLumberjack" ~> 3.0.0
github "ReactiveX/RxSwift" "3.0.0-beta.1"
github "lyft/mapper" "5.0.0-beta.2"
github "Alamofire/Alamofire" ~> 4.0.0
github "RxSwiftCommunity/RxAlamofire" "3.0.0-beta.1"